.con{
    /* border: solid 1px black; */
    height: 150px;
    /* min-width: 250px; */
    /* margin: 1%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subCon{
    /* background-color: black; */
}

.subCard{
    margin: 1%;
    padding: 0;
    background-color: aliceblue;
}

.img{
    width: 90%;
    filter: grayscale(100%);

    transition: 0.5s;
}

.hidden{
    display: none;
    margin-top: 2%;
    margin-left: 5%;
}

.con:hover .hidden{
    display: flex;
    flex-wrap: wrap;
}

.con:hover{
    height: auto;
    box-shadow: -8px 5px 10px -3px rgb(180, 174, 174);
    transition: 0.3s;
}

.con:hover .img{
    filter: grayscale(0%);
    transition: 0.5s;
}